
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src:url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src:url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 400;
    src:url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 700;
    src:url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height:100%;
}

body {
    margin:0 auto;
    display:flex;
    flex-direction:column;
    min-height:100%;
    width:1200px;
    align-content: center;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    background-color: #E5E5E5;
    color:#333333;

  
}

button {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #756257;
    text-decoration: none;
}

.button {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #756257;
    text-decoration: none;
}

.page-header {
    color: #000000;
    background-color: #FFFFFF;
} 

.navigation {
    display:flex;
    width:1200px;
    margin: 0 auto;
}

.navigation-list {
    margin:0;
    padding:0;
    width:300px;
}

.navigation-logo {
    display:block;
    margin: 0 auto;
}

.navigation-link {
    font-size: 20px;
    line-height: 26px;
    text-decoration:none;
    text-align: center;
    font-weight: 700;
    background-color: #FFFFFF;
    color: #000000;
}

.navigation-user {
    width:300px; 
    margin-left: auto;
}

.main-container {
    flex-grow:1;
    margin: 0;
    width:1200px;
}

.page-container {
    width:1200px;
    margin:0;
}

.welcome-logo {
    display:block;
    margin: 0 auto;
}

.main-index {
    color:#333333;
    background-color: #FFFFFF;
    background-image:url("../image/index-background_p1.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.inner-header {
    color:#FFFFFF;
    background-color:#333333;
    background-image:url("../image/catalog-background.png");
    background-size: 100% auto;
    background-size: 100%;
    background-repeat: no-repeat;
}

.info {
    background-color: #FFFFFF;
}

.main-title {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;
    background-color:#ffffff;
}

.main-decription {
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    color: #333333;
    background-color:#ffffff;
}

.advantages {
    display:flex;
    flex-wrap: wrap;
}

.blue-color {
    width:400px;
    margin:0; 
}

.illustration {
    margin:0;
}

.advantages-list {
    padding:0;
    margin:0;
    display:flex;
}

.advantages-item {
    width:400px;
}

.advantages-title {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    font-weight: 700;
}

.advantages-descritpion {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #333333;

}

div.blue-color {
    background-color:rgba(131, 179, 211, 1);
}

li.blue-color-12 {
    background-color:rgba(131, 179, 211, 0.12);
}

.search {
    background-color: #FFFFFF;
}

.hotel-searh-title {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    background-color:#ffffff;
}

.hotel-searh-description {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    background-color:#ffffff; 
}

.search_form {
    text-align: center; 
}

.subscribe {
    background-image:url("../image/background_p1.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    color:#333333;
    background-color: #FFFFFF;
}

.subscribe-title {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color:#FFFFFF;
    font-weight:700;
}

.subscribe-description {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color:#FFFFFF;
}

.subscribe_form {
    text-align: center;
}

.page-footer {
    display:flex;
    flex-direction:row;
    background-color: #FFFFFF;
}

.footer-social-list {
    width:210px;
    margin-right:60px;
}

.footer-contacts {
    width:720px;
    margin-left:auto;
    background-color: #FFFFFF;
    color: #000000;
}

.contacts-phone {
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    text-decoration:none;
}

a.telephone {
    color: #000000 !important;
    text-decoration:none;   
}

.inner-header-title {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 78px;
    color: #FFFFFF;
}

.breadcrumbs-link {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF
}

.infrastructure-title {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF
}

fieldset > label {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
}

.second-header-range-title {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 39px;
    color: #000000;
}

.item-card_title {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    color: #000000 !important;
    text-decoration: none;
}

.item-card-link {
    color: #000000 !important;
    text-decoration: none;
}

ul>li>b {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
}

.item-card-rate {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    background-color:#F2F2F2;
}

.favoirite-button {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color:#83B3D3;
    text-decoration: none;
}

.item-card-link-button {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color:#756257;
    text-decoration: none;
}

.load-more {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color:#83B3D3;
    text-decoration: none;
}

.pagination {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.pagination-link {
    color: #FFFFFF;
    background-color:#83B3D3;
    text-decoration: none;
}

.pagination-link.pagination-current {
    color: #000000;
    background-color:#E5E5E5;
    text-decoration: none;
}

.mumbers-items-title {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
}