@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  align-content: center;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #E5E5E5;
  color: #333333;
  box-shadow: 0px 0px 30px #999999;
}

button {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756257;
  text-decoration: none;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  display: inline-block;
}

input {
  border: none;
}

a>svg {
  margin: 0;
  padding: 0;
}

a {
  outline: none;
}

figure>img {
  display: block
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF ;
  background-color: #756257;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  outline: none;
}

.page-header {
  color: #000000;
  background-color: #FFFFFF;
  padding: 0;
  padding-left: 57px;
  padding-right: 72px;
  display: block;
}

.navigation {
  display: flex;
  width: 1071px;
  margin: 0 auto;
  max-height: 65px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 340px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
}

.navigation-logo {
  display: block;
  margin: 0 auto;
  position: relative;
  padding-left: 15px;
}


.navigation-link {
  padding: 19px 16px;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  background-color: #FFFFFF;
  color: #000000;
  margin-right: auto;
  display: block;
  box-sizing: border-box;
}

.navigation-fav {
  padding: 0px 10px;
  padding-bottom: 3px;
  margin-right: auto;
  display: block;
  box-sizing: border-box;
}

.navigation-fav:hover {
  color: #756257;
  opacity: 0.3;
}

.navigation-fav:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
  align-items: center;
  padding: 0px;
  outline: none;
  margin-top: -3px;
  margin-left: 7px;
  margin-right: 7px;
}

.navigation-item {
  display: block;
  margin-top: 14px;
  margin: 0;
}

.current {
  display: block;
  border-bottom: 2px solid #756257;
}


.navigation-link:hover {
  color: #756257;
  opacity: 0.3;
}

.navigation-link:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
  align-items: center;
  padding: 6px 13px;
  outline: none;
  margin-top: 10px;
}

.navigation-user .navigation-link:focus {
  display: flex;
  padding: 7px;
  outline: none;
  margin: 0;
}

.navigation-user .navigation-link .fav:focus {
  display: flex;
  padding: 7px 0 7px 7px;
  outline: none;
  margin: 0;
}

.navigation-link .fav-padding:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
  align-items: center;
  display: flex;
  padding: 7px;
  outline: none;
  margin: 0;
}

.navigation-user {
  width: 340px;
  margin-left: auto;
  margin-right: 0;
  align-items: center;
  justify-content: flex-end;
}

.sercher {
  padding: 0px 10px;
  padding-top: 3px;
}

.fav {
  padding: 0px 10px;
  padding-bottom: 3px;
}

.header-button {
  width: 160px;
  display: block;
  font-size: 16px;
  padding-bottom: 9px;
  padding-top: 9px;
  margin-left: 10px;

}

.header-button:hover {
  background: #615048;
}

.header-button:focus {
  border: 3px solid #83B3D3;
  border-radius: 4px;
  outline: none;
}

.popover-peace {
  margin-top:30px;
}

.popover {
  position: absolute;
  top: 46px;
  right: -158px;
  z-index: 1;
  box-sizing: border-box;
  width: 400px;
  padding: 25px;
  font-family: "PT Sans", normal;
  color: #000000;
  background-color: #FFFFFF;
  height: 232px;
  border-radius: 20px;
  border: 1px solid #E6E6E6;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  display: none;
}

.popover-open {
  display: block;
}

.popover-close-button {
  position: absolute;
  top: -49px;
  right: 173px;
  width: 32px;
  height: 32px;
  background-color: transparent;
}

.popover-content {
  height: 100%;
}

.fav-item {
  display:grid;
  grid-template-columns: 48px 19px 244px 20px 20px;
}

.focus-area {
  display:grid;
  grid-template-columns: 48px 19px 244px;
  grid-column:1/4;
}

.focus-area:hover {
  opacity: 0.6;
}

.fav-item-img:focus{
  box-shadow: 0px 0px 0px 3px #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 10px;
  outline:none;
  margin:-10px;
  margin-right:0;
}

.popover-fav {
  width: 400px;
}

.fav-items-list {
  padding:0;
  margin:0;
  list-style: none;
}

li.fav-item {
  margin-bottom:20px;
}

.fav-item-img {
  align-self: center;
}

.fav-item-info {
  align-self:center;
  grid-row: 1 / 2;
  grid-column: 3 / 4;
}

.fav-item-title {
  margin-bottom:-20px;
  display:block;
  margin: 0;
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
  color: #000000;
  grid-row: 1 / 2;
  grid-column: 3 / 4;
}

.fav-item-sort {
  display:block;
  margin:0;
  margin-top:-20px;
  font-size: 16px;
  line-height: 40px;
  font-weight: normal;
  color: #333333;
  grid-row: 1 / 2;
  grid-column: 3 / 4;
}

.fav-item-button:hover svg {
  opacity:1;
}

.fav-item-button:focus svg {
  box-shadow: 0px 0px 0px 3px #83B3D3;
  border-radius: 5px;
  padding:5px;
  outline:none;
  margin-left:-5px;
}

.fav-item .button {
  grid-row: 1 / 2;
  grid-column: 5 / 6;
  background-color: transparent;
}

.fav-all-button {
  padding:20px;
  width:400px;
  margin:0;
  margin-left:-26px;
  border-radius:0 0 20px 20px;
  text-transform: uppercase;
}

.fav-all-button:hover {
  background: #615048;
}

.fav-all-button:focus {
  background: #615048;
  box-shadow: 0px 0px 0px 3px #83B3D3;
}

.navigation-item {
  position: relative;
}

.main-container {
  padding-top: 50px;
  padding-bottom: 0;
  flex-grow: 1;
  margin: 0;
  width: 1200px;
}

.main-inner {
  flex-grow: 1;
  margin: 0;
  width: 1200px;
  display: flex;
  flex-direction: column;
  padding-top: 0;
  background-color: #FFFFFF;
}

.page-container {
  width: 1200px;
  margin: 0;
}

.welcome-logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 26px;
}

.white-block {
  display: block;
  margin: 0 auto;
  margin-bottom: 63px;
}

.main-index {
  color: #333333;
  background-color: #FFFFFF;
  background-image: url("../images/index-background-p1.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.inner-header {
  color: #FFFFFF;
  background-color: #333333;
  background-image: url("../images/catalog-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 35px;
  padding-left: 71px;
  padding-right: 71px;
  padding-bottom: 72px;
}


.breadcrumbs {
  display: flex;
  flex-direction: row;
  width: 115px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.infrastructure-list {
  display: flex;
  flex-direction: row;
  padding: 0;
  list-style-type: none;
}

.infrastructure {
  display: flex;
  flex-direction: column;
  width: 150px;
  margin-right: 60px;
  margin-left:0;
}

.infrastructure-item:hover ~ .control-mark {
  opacity: 0.6;
}

.infrastructure-item:focus ~ .control-mark {
  box-shadow: 0px 0px 0px 3px #83B3D3;
  border-radius: 4px;
  outline: none;
  margin:-1px -3px -4px 0px;
  margin-right:0;
}


.infrastructure>div {
  display: flex;
}

.infrastructure>div>input {
  margin-right: 19px;
  margin-bottom: 16px;
}

.home-type {
  display: flex;
  flex-direction: column;
  width: 150px;
}

.home-type>div {
  display: flex;
}

.home-type>div>input {
  margin-right: 19px;
  margin-bottom: 16px;
}

.home-type-item:hover ~ .control-mark{
  opacity: 0.6;
}

.home-type-item:focus  ~ .control-mark{
  box-shadow: 0px 0px 0px 3px #83B3D3;
  outline: none;
}

.control-mark {
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border-radius: 4px;
}

.price {
  display: flex;
  flex-direction: column;
  width: 287px;
  margin-right: 81px;
  margin-left: 167px;
}

.min-max-input {
  display: flex;
  width: 287px;
  height: 48px;
  margin-bottom:28px;
  margin-top:5px;
  justify-content: center;
}

.min-max-button {
    position: relative;
    height: 4px;
    background-color:#646a6e;
}

.min-max-inside {
    position: absolute;
    height: 4px;
    background-color: #FFFFFF;
}

.range-toggle {
    position: absolute;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
    background-color: #ffffff;
}
  
.range-toggle:active,
.range-toggle:focus {
    box-shadow: 0px 0px 0px 3px #83B3D3;
    border-radius:5px;
}

.toogle-min {
    top: -8px;
    left: 0px;
}

.toogle-max {
    top: -8px;
    right: -10px;
}

.catalog-filter-label {
    display:flex;
    border: 2px solid #ffffff;
    border-radius:4px;
    padding:11px 15px 14px 11px;
    color:#8f8383;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.min-price {
  border-radius: 4px 0 0 4px;
  outline: none;
}

.max-price {
  border-radius: 0 4px 4px 0;
  outline: none;
}

.range-input {
    font: inherit;
    text-align: left;
    background-color: transparent;
    border: none;
    appearance: textfield;
    color:#ffffff;
    margin-top:4px;
}

.catalog-filter-group {
  padding: 0;
  border: none;
}

.second-header {
  display: flex;
  flex-direction: row;
  padding: 0 71px;
  padding-top: 44px;
  padding-bottom: 43px;
}

.second-header form {
  display: flex;
  flex-direction: row;
}

.second-header-title {
  width: 338px;
  margin-right: 192px;
}

.second-header-sorting {
  width: 287px;
  margin-right: 81px;
}

.sorting-control {
  width: 287px;
  height: 48px;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 4px 16px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  appearance: none;
  background: url("../images/arrow-select.svg") no-repeat right;
  background-position-x: calc(100% - 21px)
}

.sorting-control:hover {
  border: 2px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
}

.sorting-control:focus {
  border: 2px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.info {
  background-color: #FFFFFF;
  margin-bottom: 79px;
}

.main-title {
  margin-top: 0;
  margin-bottom: 33px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

.main-decription {
  margin: 0;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  color: #333333;
  background-color: #ffffff;
}

.advantages {
  display: flex;
  flex-wrap: wrap;
}

.illustration {
  margin: 0;
}

.advantages-list {
  padding: 0;
  margin: 0;
  display: flex;
  list-style-type: none;
}

.advantages-item {
  width: 400px;
  padding-top: 96px;
  padding-bottom: 77px;
  margin: 0;
}

.offers-item {
  width: 400px;
  padding-top: 84px;
  padding-bottom: 90px;
  margin: 0;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
  margin: 0;
  margin-bottom: 28px;
}

.advantages-number {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  margin: 0;
  margin-bottom: 30px;
}

.advantages-descritpion {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  margin: 0;
  margin-left: 75px;
  margin-right: 75px;
}

.advantages-descritpion-blue {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  margin: 0;
  margin-left: 90px;
  margin-right: 90px;
}

.special-padding {
  padding-bottom: 32px;
}

.label {
  margin: 0 auto;
  display: block;
  margin-bottom: 23px;
}

.home {
  padding-top: 5px;
}

.burger {
  padding-top: 7px;
}

.dark-color {
  background: #e7f0f7;
}

.offers-title {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
  margin: 0;
  margin-bottom: 20px;
}

.offers-descritpion {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  margin: 0;
  margin-left: 75px;
  margin-right: 75px;
}

.white {
  color: #FFFFFF;
}

div.blue-color {
  background-color: rgba(131, 179, 211, 1);
}

li.blue-color-12 {
  background-color: rgba(131, 179, 211, 0.12);
}

.search {
  padding: 91px 240px;
  background-color: #FFFFFF;
}

.hotel-searh-title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  padding-bottom: 14px;
  margin: 0;
  margin-bottom: 15px;
}

.hotel-searh-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  background-color: #ffffff;
  margin: 0;
  margin-bottom: 59px;
}

.search-form {
  text-align: center;
  padding-top: 13px;
  padding-bottom: 11px;
  display: block;
  margin-left: 73px;
  margin-right: 73px;
  border-radius: 10px;
  font-size: 20px;
  line-height: 36px;
}

.search-form:hover {
  background: #615048;
  border-radius: 10px;
  outline: none;
}

.search-form:focus {
  display: block;
  box-shadow: 0px 0px 0px 3px #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
}

.subscribe {
  display: grid;
  grid-template-columns: 200px 800px 200px;
  grid-template-rows: 94px 65px 98px 60px 94px;
  background-image: url("../images/background-p1.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #333333;
  background-color: #FFFFFF;
}

.subscribe1 {
  display: grid;
  grid-template-columns: 200px 800px 200px;
  grid-template-rows: 57px 65px 98px 60px 138px;
  background-color: #FFFFFF;
}

.subscribe-title {
  grid-column-start: 2;
  grid-row-start: 2;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 700;
  padding-bottom: 14px;
  margin: 0;
  margin-bottom: 15px;
}

.subscribe-description {
  grid-column-start: 2;
  grid-row-start: 3;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  padding-bottom: 20px;
  margin: 0;
  margin-bottom: 26px;
}

.subscribe-form {
  grid-column-start: 2;
  grid-row-start: 4;
  text-align: center;
  display: flex;
  width: 800px;
}

.subscribe-input {
  flex-grow: 2;
  border-radius: 10px 0px 0px 10px;
  padding-left: 22px;
  padding-right: 19px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  background: #F2F2F2;
}

.subscribe-input:hover {
  background: #E6E6E6;
  outline: none;
}

.subscribe-input:focus {
  box-shadow: 0px 0px 0px 3px #83B3D3;
  background: #E6E6E6;
  outline: none;
}

.subscribe-button {
  flex-grow: 1;
  max-width: 200px;
  border-radius: 0px 10px 10px 0px;
  background: #83B3D3;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;

}

.subscribe-button:hover {
  background: #68A2CA;
  outline: none;
}

.subscribe-button:focus {
  box-shadow: 0px 0px 0px 3px #756257;
  background: #68A2CA;
  outline: none;
}

.black {
  color: #333333;
}

.page-footer {
  padding: 7px 57px;
  display: flex;
  flex-direction: row;
  background-color: #FFFFFF;
  align-items: center;
}

.footer-social {
  max-width: 175px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-items: baseline;
}

.footer-social-item {
  width: auto;
  height: auto;
}

.footer-social-item:hover {
  opacity: 0.3;
}

.social-button {
  display: block;
  margin-left: auto;
  margin-right: 0;
  align-items: center;
  justify-content: flex-end;
  margin: 0 15px;
  padding: 0;
  margin-top: 9px;
}

.social-button:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 3px 5px;
  outline: none;
  margin: 7px;
  margin-top: 18px;
}

.footer-contacts {
  width: 720px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
  color: #000000;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding-left: 5px;
  padding-bottom: 2px;
}

a.telephone {
  color: #000000 ;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.footer-contacts a.telephone:hover {
  color: #756257;
}

.footer-logo {
  display: block;
  width: 145px;
  height: 64px;
  margin-top: 30px;

}

.footer-logo-HTML {
  align-items: center;
  padding-left: 15px;
  margin-top: 6px;
}

.footer-logo-HTML:hover {
  opacity: 0.5;
}

.footer-logo-HTML:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 0;
}

a.telephone:focus {
  color: #756257;
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
  padding: 7px;
  margin-top: 9px;
  width: 360px;
  margin-left: auto;
  margin-right: auto;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
  display:none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 62px 70px 70px 70px;
  background-color: #FFFFFF;
  box-sizing: border-box;
}

.modal-auth {
  width: 715px;
  border-radius:20px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 54px;
  right: 70px;
  width: 53px;
  height: 53px;
  background-color: #F2F2F2;
  border-radius: 50px;
  background-image: url("../images/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
} 

.modal-close-button:hover {
 background: #E6E6E6;
 background-image: url("../images/cross.svg");
 background-repeat: no-repeat;
 background-position: center;
 cursor: pointer;
 outline:none;
}

.modal-close-button:focus {
  background: #E6E6E6;
  background-image: url("../images/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  box-shadow: 0px 0px 0px 3px #83B3D3;
  outline:none;
}

.modal-title {
  margin: 0;
  margin-bottom: 24px;
  font-family: "PT Sans", normal;
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.arrive-date-field:hover,
.date-departure-field:hover {
  background: #E6E6E6 !important;
  background-image:url("../images/calendar.svg") !important;
  background-repeat: no-repeat !important;
  background-position:95% 50% !important;
}

.arrive-date-field:focus,
.date-departure-field:focus {
  background: #E6E6E6 !important;
  box-shadow: 0px 0px 0px 3px #83B3D3;
  outline:none;
  background-image:url("../images/calendar.svg") !important;
  background-repeat: no-repeat !important;
  background-position:95% 50% !important;
}

.arrive-date-field:active,
.date-departure-field:active {
  background: #E6E6E6 !important;
  box-shadow: 0px 0px 0px 2px #000000;
  background-image:url("../images/calendar.svg") !important;
  background-repeat: no-repeat !important;
  background-position:95% 50% !important;
}

.arrive-date,
.date-departure,
.adults, 
.children {
  width:155px;
  font-weight: bold;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  align-self: center;
}

.modal-popover {
  position:absolute;
  display: none;
  margin-left:-10px;
  margin-top:40px;
}

.modal-popover-content {
  width: 220px;
  height: 107px;
  background: #333333;
  color:#ffffff;
  padding:18px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  font-size: 16px;
  line-height: 20px;
  border-radius:10px;
}

.modal-popover-button:hover ~ .modal-popover {
  display: block;
} 

.modal-popover > svg {
  margin:0px;
  display:block;
  margin-left:123px;
}
 
.children {
  width:auto;
  margin-right:10px;
  margin-left:56px;
  font-weight: bold;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
}

.search-form-modal .field-group {
  display:flex;
  margin: 0;
  align-items: center;
}

.search-form-modal .field {
  background: #F2F2F2;
  border-radius: 4px;
  color: #000000;
  height: 50px;
  width:420px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  padding-left:19px;
}

.search-form-modal .arrive-date-field,
.search-form-modal .date-departure-field {
  background-image:url("../images/calendar.svg");
  background-repeat: no-repeat;
  background-position:95% 50%;
}

.field-group-number .field  {
  width: 45px;
  padding:0;
  text-align:center;
}

.explanation {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 40px;
  color: #FF5757;
  text-align: left;
  margin-bottom: 11px;
  margin-top: -10px;
  display: block;
  width:420px;
  margin-left: auto;
}

.gray {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 40px;
  color:#333333;
  text-align: left;
  margin-bottom: 11px;
  margin-top: -10px;
  display: block;
  width:420px;
}

.field-group-number {
  display:flex;
  margin-bottom:40px;
}

.field-group-number-adults{
  display:flex;
}

.field-group-number-children{
  display:flex;
}

.number-field {
  width:133px;
}

.number input[type="number"]::-webkit-outer-spin-button,
.number input[type="number"]::-webkit-inner-spin-button {
	display: none;
}

.modal-popover-button {
  background: #83B3D3;
  border-radius:30px;
  width:25px;
  height:25px;
  color:#ffffff;
  margin-right:18px;
  margin-right:18px;
  padding:0;
  text-align: center;
  background-repeat: no-repeat;
  background-position:center;
  align-self:center;
}

.modal-popover-button:hover {
  background: #68A2CA ;
}

.modal-popover-button:focus-visible {
  outline:none
}

.number-minus {
	width: 44px;
	padding: 0;
	display: block;
	background-position: center;
	border: none;
  background-repeat: no-repeat;
  background-color: #F2F2F2;
  border-radius: 4px 0 0 4px;
}

.minus-button {
  margin-bottom:5px;
  opacity:0.6;
}

.number-minus:focus {
  outline:none;
}

.number-minus:hover .minus-button {
  opacity:1;
}

.number-minus:focus .minus-button {
  opacity:1;
  box-shadow: 0px 0px 0px 3px #83B3D3;
  border-radius: 4px;
  padding: 11px 5px;
  margin-bottom:-5px;
  outline:none;
}

.number-plus {
  width: 44px;
	padding: 0;
	display: block;
	background-position: center;
	border: none;
  background-repeat: no-repeat;
  background-color: #F2F2F2;
  border-radius: 0 4px 4px 0;
}

.plus-button {
  margin-bottom:0;
  opacity:0.6;
}

.number-plus:focus {
  outline:none;
}

.number-plus:hover .plus-button {
  opacity:1;
}

input:focus-visible {
  outline:none;
}

.number-plus:focus .plus-button {
  opacity:1;
  box-shadow: 0px 0px 0px 3px #83B3D3;
  border-radius: 4px;
  padding: 5px;
  margin-top:4px;
  margin-left:1px;
  outline:none;
}

.search-form-button {
  background: #83B3D3;
  border-radius: 10px;
  width: 575px;
  height: 60px;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
}

.search-form-button:hover {
  background: #68A2CA;
  outline:none;
}

.search-form-button:focus {
  background: #68A2CA;
  outline:none;
  box-shadow: 0px 0px 0px 3px  #756257;
}

.inner-header-title {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 72px;
  color: #FFFFFF;
  margin: 0;
}

.breadcrumbs-item {
  margin: 0;
  margin-bottom: 45px;
  margin-right: 7px;
  margin-left: 3px;
}

.breadcrumbs-item:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus {
  box-shadow: 0px 0px 0px 3px #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  padding: 3px 6px;
  margin-left: -6px;
  margin-right: -6px;

}

.breadcrumbs-link {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

a.breadcrumbs-link {
  color: #FFFFFF;
  text-decoration: none;
}

.infrastructure-title {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 30px;
}

.control {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 42px;
  padding-bottom:15px;
  cursor: pointer;
}

.control:hover .control-mark {
    opacity: 0,3;
}

  
.control-input:disabled + .control-mark {
    border-color: #242424;
  }

  .control-input[type="checkbox"]:checked + .control-mark::before,
  .control-input[type="checkbox"]:checked + .control-mark::after {
    position: absolute;
    top: 9px;
    left: 6px;
    width: 12px;
    height: 1.5px;
    background-color: #3F5E72;
    content: "";
  }
  
  .control-input[type="checkbox"]:checked + .control-mark::before {
    transform: rotate(45deg);
    top:11px;
    width:8px;
    left:2px;
  }
  
  .control-input[type="checkbox"]:checked + .control-mark::after {
    transform: rotate(-45deg);
  }


.control-input[type="radio"] + .control-mark {
    border-radius: 50%;
    margin-left:3px;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}

.true {
  background: #83B3D3;
  width: 160px;
  margin-top: 60px;
  margin-bottom: 10px;
  padding-top: 13px;
  padding-bottom: 14px;
}

.true:hover {
  background: #68A2CA;
}

.true:focus {
  box-shadow: 0px 0px 0px 3px #ffffff;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
}

.bold {
  background: transparent ;
  width: 160px;
  text-transform: none;
  font-size: 18px;
  line-height: 23px;
}

.bold:hover {
  opacity: 0.6;
}

.bold:focus {
  box-shadow: 0px 0px 0px 3px #83B3D3;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
}

fieldset>label {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.popular,
.cheap,
.expensive {
  color: #333333;
}

.button-wiew {
  width: 48px;
  height: auto;
  margin-right: 8px;
  background-color: transparent;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
  padding-top: 13px;
}

.button-wiew:hover {
  border: 2px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
}

.button-wiew:focus {
  border: 2px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.button-wiew:last-child {
  border: 2px solid #000000;
  margin: 0;
}

.second-header-range-title {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
  color: #000000;
  margin: 0;
  text-transform: uppercase;
  padding-top: 5px;
}

.item-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 72px;
  list-style-type: none;
  padding: 0;
}

ul.item-list .item-card {
  border-top: 1px solid #E6E6E6;
}

ul.item-list .item-card:last-child,
.load-more-block {
  border-bottom: 1px solid #E6E6E6;
}

.item-card {
  display: flex;
  flex-direction: row;
  padding: 30px 0;
}

.item-card-image {
  margin: 0;
  margin-right: 37px;
}

.item-card-image:hover {
  opacity: 0.6;
}

.item-card-link-img:focus {
  box-shadow: 0px 0px 0px 3px #83B3D3;
  outline: none;
}

.item-card-title {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  color: #000000 ;
  text-decoration: none;
  margin: 0;
  margin-bottom: 1px;
  margin-top: -5px;
}

.item-card-title:hover {
  color: #756257 ;
}

.item-card-link:focus {
  color: #756257 ;
  box-shadow: 0px 0px 0px 3px #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 5px 15px 0px 15px;
  outline: none;
  display: inline-block;
  margin-left: -15px;
  margin-top: -5px;
}

.item-card-link {
  color: #000000;
  text-decoration: none;
}

.item-card-link-img {
  width: 180px;
  height: 120px;
  display: block;
  margin-right: 37px;
}

.item-card-link-button {
  width: 151px;
  height: 37px;
  padding-top: 9px;
  margin-right:2px;
}

.item-card-link-button:hover {
  background: #615048;
}

.item-card-link-button:focus {
  background: #615048;
  box-shadow: 0px 0px 0px 3px #83B3D3;
  ;
  border-radius: 4px;
}

.card-details {
  display: flex;
}

.item-card-type {
  display: block;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  margin: 0;
  margin-bottom: 34px;
  margin-right: 78px;
  width: 79px;
}

.item-card-price {
  display: block;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  margin: 0;
  margin-bottom: 31px;
}

.card-buttons {
  display: block;
}

.rate-star {
  margin-bottom: 63px;
  margin-left: auto;
  margin-right: auto;
}

ul>li>b {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.rate {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  justify-content: space-between;
}

.item-card-rate {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
  width: 160px;
  padding-top: 9px;
}

.favoirite {
  background-color: #83B3D3;
  width: 160px;
  height: 37px;
  padding-top: 9px;
}

.favoirite:hover {
  box-shadow: 0px 0px 0px 1px #756257;
  box-sizing: border-box;
  border-radius: 4px;
}

.favoirite:focus {
  box-shadow: 0px 0px 0px 3px #756257;
  border-radius: 4px;
  background: #68A2CA;
  outline: none;
}

.green {
  background: #7DB54F;
}

.green:hover {
  background: #6C9E42;
  border-radius: 4px;
}

.green:focus {
  background: #6C9E42;
  box-shadow: 0px 0px 0px 3px #756257;
  border-radius: 4px;
  outline: none;
}

.load-more-block {
  padding: 30px 216px;
  margin: 0 72px;
}

.load-more {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
  display: block;
  padding: 15px 0;
  border-radius: 4px;
}

.pagination-block {
  display: flex;
  flex-direction: row;
  padding: 29px 72px;
  align-content: center;
}

.pagination {
  display: flex;
  flex-direction: row;
  margin: 0;
  margin-right: 292px;
  padding: 0;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  list-style-type: none;
}

.pagination-item:last-child .pagination-link {
  padding: 17px 14px;
}


.pagination-link {
  display: block;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
  width: 55px;
  height: 55px;
  margin-right: 8px;
  text-align: center;
  border-radius: 4px;
  padding: 16px 20px;
  box-sizing: border-box;
}

.pagination-current {
  display: block;
  color: #000000;
  background-color: #E5E5E5;
  text-decoration: none;
  width: 55px;
  height: 55px;
  margin-right: 8px;
  text-align: center;
  border-radius: 4px;
  padding: 16px 20px;
  box-sizing: border-box;
}


.paginationn-current:hover {
  color: #000000;
  background-color: #E5E5E5;
  text-decoration: none;
}

.paginationn-current:focus {
  color: #000000;
  background-color: #E5E5E5;
  text-decoration: none;
}

.pagination-link:hover {
  background: #68A2CA;
}

.pagination-link:focus {
  box-shadow: 0px 0px 0px 3px #756257;
  box-sizing: border-box;
  border-radius: 4px;
}

.select-box {
  width: 160px;
  height: 48px;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
  appearance: none;
  background: url("../images/arrow-select.svg") no-repeat right;
  background-position-x: calc(100% - 21px);
  padding: 12px 17px;
}

.numbers-items {
  display: flex;
  flex-direction: row;
  width: 386px;
  margin-left: auto;
}

.numbers-items-title {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  margin: 0;
  margin-right: 51px;
  margin-top: auto;
  margin-bottom: auto;
  width: 175px;
}
